@tailwind base;
@tailwind components;
@tailwind utilities;

html, div {
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
  /* Chrome, Safari */
  user-drag: none;
}

/* Change the color of highlighted text */
::selection {
  background-color: #F0FFC9;
  /* Yellow background */
  color: #570326
  /* Black text */
}


/* For better browser compatibility, add WebKit-specific rules */
::-moz-selection {
  background-color: #F0FFC9;
  /* Yellow background */
  color: #570326
    /* Black text */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #570326;
  /* Maroon background for the track */
  border-radius: 10px;
  /* Rounded track edges */
}

::-webkit-scrollbar-thumb {
  background: #F0FFC9;
  /* Beige color for the thumb */
  border-radius: 10px;
  /* Rounded thumb edges */
  transition: background 0.3s ease, transform 0.3s ease;
  /* Smooth transition for hover */
}

::-webkit-scrollbar-thumb:hover {
  background: #A9DA88;
  /* Slightly darker beige on hover */
  transform: scale(1.1);
  /* Slightly enlarge the thumb */
}

/* Small Dot */
.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: rgb(169, 218, 136);
  /* Default white text color */
  pointer-events: none;
}

/* Outer Outline */
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 3px solid rgb(169, 218, 136);
  opacity: 0.7;
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1000;
}

.shrunk {
  width: 20px;
  height: 20px;
  background-color: rgb(169, 218, 136);;
}

/* Hide default cursor for elements */
body,
a,
input,
button,
div,
span,
i,
textarea,
iframe {
  cursor: none;
}

.text-shadow {
  text-shadow: 2px 2px 10px rgba(169, 218, 136, 0.5);
}

/* Hide custom cursor on touch devices */
@media (hover: none) and (pointer: coarse) {

  .cursor-dot,
  .cursor-outline {
    display: none;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.stat-circle {
  overflow: hidden;
  box-shadow: 0 0 60px 20px rgba(240, 255, 201, 0.4);
  transition: transform 0.4s ease-in-out, box-shadow 0.6s ease-in-out, color 0.4s ease-in-out;
}

.stat-circle:hover {
  transform: scale(1.05);
}